#!/bin/bash

# Load common environment variables
source ~/.env/common.sh

{{ if eq .hostname "pc-vivacity-pl" "blastoise" -}}
# Vivacity
[ -f ~/.env/vivacity.sh ] && source ~/.env/vivacity.sh
{{- end }}

# Kube configs
[ -f ~/.kube/env.sh ] && source ~/.kube/env.sh

# Load secrets as environment variables
[ -f ~/.secrets/env.sh ] && source ~/.secrets/env.sh

# Load local environment variables
[ -f ~/.env/local.sh ] && source ~/.env/local.sh
