# Load common aliases
source ~/.shell/aliases/common.sh

# Personal
[ -f ~/.shell/aliases/personal.sh ] && source ~/.shell/aliases/personal.sh

{{ if eq .chezmoi.os "darwin" -}}
# Darwin
[ -f ~/.shell/aliases/darwin.sh ] && source ~/.shell/aliases/darwin.sh
{{- end }}

{{ if eq .chezmoi.os "linux" -}}
# Linux
[ -f ~/.shell/aliases/linux.sh ] && source ~/.shell/aliases/linux.sh
{{- end }}

{{ if eq .hostname "pc-vivacity-pl" "blastoise" -}}
# Vivacity
[ -f ~/.shell/aliases/vivacity.sh ] && source ~/.shell/aliases/vivacity.sh

# MyFoodCourt
[ -f ~/.shell/aliases/mfc.sh ] && source ~/.shell/aliases/mfc.sh
{{- end }}

# Load local aliases
[ -f ~/.shell/aliases/local.sh ] && source ~/.shell/aliases/local.sh
