#!/bin/bash

# Load common environment variables
source ~/.shell/env/common.sh

{{ if eq .chezmoi.os "darwin" -}}
# Darwin
[ -f ~/.shell/env/darwin.sh ] && source ~/.shell/env/darwin.sh
{{- end }}

{{ if eq .hostname "paul-enapi" "blastoise" -}}
# ENAPI
[ -f ~/.shell/env/enapi.sh ] && source ~/.shell/env/enapi.sh
{{- end }}

# Kube configs
[ -f ~/.kube/env.sh ] && source ~/.kube/env.sh

# Load secrets as environment variables
[ -f ~/.shell/secrets/env.sh ] && source ~/.shell/secrets/env.sh

# Load local environment variables
[ -f ~/.shell/env/local.sh ] && source ~/.shell/env/local.sh

# Load common integrations
source ~/.shell/integrations/common.sh

# Load local integrations
[ -f ~/.shell/integrations/local.sh ] && source ~/.shell/integrations/local.sh
