# Load common functions
source ~/.shell/functions/common.sh

{{ if eq .hostname "paul-enapi" "blastoise" -}}
# ENAPI
[ -f ~/.shell/functions/enapi.sh ] && source ~/.shell/functions/enapi.sh
{{- end }}

# Load local functions
[ -f ~/.shell/functions/local.sh ] && source ~/.shell/functions/local.sh
