# Load common aliases
source ~/.aliases/common.sh

# Personal
[ -f ~/.aliases/personal.sh ] && source ~/.aliases/personal.sh

{{ if eq .chezmoi.os "darwin" -}}
# Darwin
[ -f ~/.aliases/darwin.sh ] && source ~/.aliases/darwin.sh
{{- end }}

{{ if eq .chezmoi.os "linux" -}}
# Darwin
[ -f ~/.aliases/linux.sh ] && source ~/.aliases/linux.sh
{{- end }}

{{ if eq .hostname "pc-vivacity-pl" "blastoise" -}}
# Vivacity
[ -f ~/.aliases/vivacity.sh ] && source ~/.aliases/vivacity.sh

# MyFoodCourt
[ -f ~/.aliases/mfc.sh ] && source ~/.aliases/mfc.sh
{{- end }}

# Load local aliases
[ -f ~/.aliases/local.sh ] && source ~/.aliases/local.sh
