[user]
	name = Paul Landázuri
	email = 5787964+LandazuriPaul@users.noreply.github.com
[init]
  defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

# Organisation-specific configurations
[includeIf "gitdir:~/dev/GitHub/vivacitylabs/"]
    path = ~/dev/GitHub/vivacitylabs/.gitconfig
[includeIf "gitdir:~/dev/GitHub/enapihq/"]
    path = ~/dev/GitHub/enapihq/.gitconfig
