#!/bin/bash

# Load common environment variables
source ~/.shell/env/common.sh

{{ if eq .hostname "pc-vivacity-pl" "blastoise" -}}
# Vivacity
[ -f ~/.shell/env/vivacity.sh ] && source ~/.shell/env/vivacity.sh
{{- end }}

# Kube configs
[ -f ~/.kube/env.sh ] && source ~/.kube/env.sh

# Load secrets as environment variables
[ -f ~/.shell/secrets/env.sh ] && source ~/.shell/secrets/env.sh

# Load local environment variables
[ -f ~/.shell/env/local.sh ] && source ~/.shell/env/local.sh

# Load common integrations
source ~/.shell/integrations/common.sh

# Load local integrations
[ -f ~/.shell/integrations/local.sh ] && source ~/.shell/integrations/local.sh
