{{- if eq .hostname "paul-enapi" "blastoise" -}}
{{ onepasswordRead "op://private/ssh_agent/ssh_agent.toml" .onepassword.landazuri }}
{{ onepasswordRead "op://private/ssh_agent/ssh_agent.toml" .onepassword.enapi }}
{{- end }}
