# sbin
export PATH="$PATH:/usr/local/sbin"

# Homebrew
export PATH="$PATH:/usr/local/opt/python/libexec/bin"

# NVM
export NVM_DIR="$HOME/.nvm"

# Yarn
export PATH="$PATH:$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin"

# Go
export GOPATH="$HOME/dev/go"
export PATH="$PATH:$GOPATH/bin"
export PATH="$PATH:$GOROOT/bin"

# PostgreSQL utils (libpq)
export PATH="$PATH:/opt/homebrew/opt/libpq/bin"
