{{- if eq .hostname "pc-vivacity-pl" "blastoise" -}}

# Go
export GOPRIVATE="github.com/vivacitylabs/*"

# Vivacity repos
{{- if eq .hostname "blastoise" }}
export REPOS="$HOME/dev/GitHub/vivacitylabs"
{{- else if eq .hostname "pc-vivacity-pl"  }}
export REPOS="$HOME/dev/vivacitylabs"
{{- end }}

# gcloud <> GKE integration
export USE_GKE_GCLOUD_AUTH_PLUGIN=True

# Vault
export VAULT_HELPER=true

{{ end -}}
