{{- if eq .hostname "paul-enapi" "blastoise" -}}
{{ onepasswordRead "op://private/ssh_config/ssh_config.sh" "enapi.1password.com" }}
{{ (bitwarden "item" "ssh-config").notes }}
{{- end }}

# Force basic colours for ghostty terminal
Host *
  SetEnv TERM=xterm-256color
