{{ if eq .chezmoi.os "darwin" -}}
Include ~/.colima/ssh_config
{{- end }}

{{ if eq .hostname "paul-enapi" "blastoise" -}}
{{ onepasswordRead "op://private/ssh_config/ssh_config.sh" .onepassword.enapi }}
{{ onepasswordRead "op://private/ssh_config/ssh_config.sh" .onepassword.landazuri }}
{{- end }}

Host *
  # Force basic colours for ghostty terminal
  SetEnv TERM=xterm-256color
{{- if eq .chezmoi.os "darwin" }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
{{- if eq .hostname "blastoise" }}
  IdentityFile ~/.ssh/{{ .hostname }}.pub
  IdentitiesOnly yes
{{- end }}
