# ---
# --- Base executables
# ---

# sbin
export PATH="$PATH:/usr/local/sbin"

# Local executable scripts
export PATH="$PATH:$HOME/.shell/exec"

# Homebrew
export PATH="$PATH:/usr/local/opt/python/libexec/bin"

# ---
# --- CLI Tools
# ---

# opencode
export PATH="$PATH:$HOME/.opencode/bin"
# ---
# --- Languages
# ---

# PyEnv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"

# jEnv
export PATH="$HOME/.jenv/bin:$PATH"

# sdkman
export SDKMAN_DIR="$HOME/.sdkman"

# NVM
export NVM_DIR="$HOME/.nvm"

# Yarn
export PATH="$PATH:$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin"

# pnpm
export PNPM_HOME="$HOME/Library/pnpm"
export PATH="$PATH:$PNPM_HOME"

# Bun
export BUN_INSTALL="$HOME/.bun"
export PATH="$PATH:$BUN_INSTALL/bin"

# Go
export GOPATH="$HOME/dev/go"
export PATH="$PATH:$GOPATH/bin"
export PATH="$PATH:$GOROOT/bin"

# Rust
export PATH="$PATH:$HOME/.cargo/bin"

# PostgreSQL utils (libpq)
export PATH="$PATH:/opt/homebrew/opt/libpq/bin"

# ---
# --- DevOps
# ---

# Terragrunt
export TG_PROVIDER_CACHE=1
export TG_PROVIDER_CACHE_DIR="$HOME/.cache/terragrunt"
