# sbin
export PATH="$PATH:/usr/local/sbin"

# Homebrew
export PATH="$PATH:/usr/local/opt/python/libexec/bin"

# PyEnv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"

# jEnv
export PATH="$HOME/.jenv/bin:$PATH"

# NVM
export NVM_DIR="$HOME/.nvm"

# Yarn
export PATH="$PATH:$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin"

# Go
export GOPATH="$HOME/dev/go"
export PATH="$PATH:$GOPATH/bin"
export PATH="$PATH:$GOROOT/bin"

# Rust
export PATH="$PATH:$HOME/.cargo/bin"

# PostgreSQL utils (libpq)
export PATH="$PATH:/opt/homebrew/opt/libpq/bin"

# Local executable scripts
export PATH="$PATH:$HOME/.shell/exec"
