{{- if eq .hostname "blastoise" "pikachu" -}}

#!/bin/sh

# Kubeconfig
cat <<EOF >~/.kube/configs/mfc.yaml
{{ onepasswordRead "op://private/kubeconfig/mfc.yaml" "my.1password.com" }}
EOF

{{- end -}}
