# Chezmoi
alias cm='chezmoi'
alias cmlogin='. ~/.shell/scripts/cm-login'

# General aliases
alias git='LANG=en_GB.UTF-8 git'
alias nv='nvim'
alias l='ll'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Network
alias ports='sudo lsof -i -P -n | grep1 LISTEN'

# Dev specifics
alias tmp='cd ~/dev/tmp/'
alias dev='cd ~/dev/'

# Yarn
alias yb='yarn build'
alias yd='yarn dev'
alias yw='yarn watch'
alias ys='yarn start'
alias ysd='yarn start:dev'
alias ysp='yarn start:prod'

# NPM
alias ns='npm run start'
alias nsd='npm run start:dev'
alias nsp='npm run start:prod'
alias nb='npm run build'

# DevOps tools
alias kb='kubectl'
alias tf='terraform'
alias dc='docker compose'
alias actg='act -s GITHUB_TOKEN=$(gh auth token)'
alias kubectx='switch' # for backward compatibility with integrations
