# Chezmoi
alias cm='chezmoi'
alias cmlogin='. ~/.shell/scripts/cm-login'

# General aliases
alias nv='nvim'
alias l='ll'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Versioning aliases
alias git='LANG=en_GB.UTF-8 git'
alias wtc='wt switch -c'

# Network
alias ports='sudo lsof -i -P -n | grep1 LISTEN'
alias ts='tailscale'

# Dev specifics
alias tmp='cd ~/dev/tmp/'
alias dev='cd ~/dev/'

# DevOps tools
alias kb='kubectl'
alias dc='docker compose'
alias actg='act -s GITHUB_TOKEN=$(gh auth token)'

# AI tools
alias cl="claude"
alias oc="opencode"
