{{- if eq .chezmoi.os "darwin" -}}
# ls
alias ll='ls -lAhFGW'

# Network
alias flush-dns='sudo killall -HUP mDNSResponder'

# iCloud scripts
alias icloud='cd ~/Library/Mobile\ Documents/com~apple~CloudDocs'
{{- end }}

# macOS softs
alias zed="/Applications/Zed.app/Contents/MacOS/cli"
alias oc="opencode"
