{{- if eq .chezmoi.os "darwin" -}}
# ls
alias ll='ls -lAhFGW'

# Network
alias flush-dns='sudo killall -HUP mDNSResponder'

# iCloud scripts
alias scripts='cd "$HOME/Library/Mobile Documents/com~apple~CloudDocs/Scripts"'
{{- end }}
