{{- if eq .hostname "blastoise" "paul-enapi" "raichu" -}}
### generic aliases

{{- if eq .hostname "blastoise" -}}
# magick (for PhotoLab output conversion to HEIC)
alias magick-heic='magick mogrify -format heic -depth 10 -path .. -delete 1,1 *.tif'
{{- end }}

#### sensitive aliases

{{- if eq .hostname "paul-enapi" "blastoise" -}}
{{ (bitwarden "item" "laptop-aliases").notes }}
{{- end }}

{{- if eq .hostname "raichu" -}}
{{ (bitwarden "item" "vps-aliases").notes }}
{{- end }}

{{- end }}
