{{- if eq .hostname "blastoise" "paul-enapi" "raichu" -}}
### generic aliases

{{- if eq .hostname "blastoise" -}}
# magick (for PhotoLab output conversion to HEIC)
alias magick-heic='magick mogrify -format heic -depth 10 -path .. -delete 1,1 *.tif'
{{- end }}

#### sensitive aliases

{{- if eq .hostname "paul-enapi" "blastoise" -}}
{{ onepasswordRead "op://private/laptop_aliases/laptop_aliases.sh" .onepassword.landazuri }}
{{- end }}

{{- if eq .hostname "raichu" -}}
{{ onepasswordRead "op://private/vps_aliases/vps_aliases.sh" .onepassword.landazuri }}
{{- end }}

{{- end }}
