{{- if eq .hostname "pc-vivacity-pl" "blastoise" -}}

#!/bin/bash
{{ onepasswordRead "op://private/vivacity_aliases/vivacity_aliases.sh" "vivacitylabs.1password.com" | replace "$REPOS" (env "REPOS") }}

{{- end }}
