{{- if eq .hostname "pc-vivacity-pl" "blastoise" -}}

#!/bin/sh

# Terraform secret key
KEY_FILENAME={{ onepasswordRead "op://private/terraform-secret-key/filename" "vivacitylabs.1password.com" }}
cat <<EOT >~/.secrets/$KEY_FILENAME
{{ onepasswordRead "op://private/terraform-secret-key/key.json" "vivacitylabs.1password.com" }}
EOT

# Terraform state key
KEY_FILENAME={{ onepasswordRead "op://private/terraform-state-key/filename" "vivacitylabs.1password.com" }}
cat <<EOT >~/.secrets/$KEY_FILENAME
{{ onepasswordRead "op://private/terraform-state-key/key.txt" "vivacitylabs.1password.com" }}
EOT

{{- end -}}
