#!/bin/bash

{{ if eq .hostname "blastoise" "raichu" -}}
echo "> Log in to 1Password (landazuri)"
eval $(op signin --account {{ .onepassword.landazuri }})

echo "> Log in to 1Password (mfc)"
eval $(op signin --account {{ .onepassword.mfc }})
{{- end }}

{{ if eq .hostname "paul-enapi" "blastoise" -}}
echo "> Log in to 1Password (enapi)"
eval $(op signin --account {{ .onepassword.enapi }})
{{- end }}
