#!/bin/bash

# Bitwarden

# from https://gist.github.com/bendem/edf6cdf37aabf659ddbb0f77d9b50e2f
unlock() {
    bw unlock | sed -nE 's/\$ export BW_SESSION="(.*)"/\1/p'
}

echo "> Log in to Bitwarden"
export BW_SESSION="$(unlock)"

# 1Password
{{ if eq .chezmoi.hostname "blastoise" "raichu" -}}
echo "> Log in to 1Password (my.1password.com)"
eval $(op signin --account my.1password.com)
{{- end }}

{{ if eq .chezmoi.hostname "paul-enapi" "blastoise" -}}
echo "> Log in to 1Password (enapi.1password.com)"
eval $(op signin --account enapi.1password.com)
{{- end }}
