#!/bin/bash

{{ if eq .chezmoi.hostname "blastoise" "vps-6a39a9e0" -}}
echo "> Log in to 1Password (landazuri)"
eval $(op signin --account {{ .onepassword.landazuri }})

echo "> Log in to 1Password (mfc)"
eval $(op signin --account {{ .onepassword.mfc }})
{{- end }}

{{ if eq .chezmoi.hostname "paul-enapi" "blastoise" -}}
echo "> Log in to 1Password (enapi)"
eval $(op signin --account {{ .onepassword.enapi }})
{{- end }}
